

<div id="preto">
  <br>
  <br>

<footer class="page-footer font-smallpt-4">

    <div class="container justify-content-center">

<hr>
      <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <i class="text-white">Siga-nos nas redes sociais</i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="https://www.linkedin.com/in/moreirasmatheus/" target="_blank" class="icoLinkedin">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/smoreiramatheus" target="_blank" class="icoLGithub">
                            <i class="fab fa-github-square"></i>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright text-center py-3" id="amarelo">
        <span class="text-dark"> &copy; 2020 Copyright: </span>
        <a class="text-dark" target="_blank" href="projetointegrador.generation@gmail.com">Plek</a>
    </div>
</footer>
</div>
